<template>
    <header>
        <div>
            <h1 class="hola">Titulo WEB Vue</h1>

        </div>
        variableOculta = {{variableOculta}} <br>
        nombre = {{nombre}}<br>
        todo = {{ nombre.toUpperCase() + " " + variableOculta.toLowerCase()}}

    </header>

</template>

<script>
export default {
  data() {
      return{
    variableOculta: "Variable Oculta",
    nombre: "Chino ven"
      };
  }
}
</script>

<style>

</style>